#feel free to modify 
Makefile
*.in
*.DS_Store
*.o
*.cproject
*.project
*.settings
*.autotools
*.cache
*.deps
*.a
*.docx
*.status
*.png
#ipps post build
components/ipps/config.h
components/ipps/config.log
components/ipps/configure
components/ipps/src/main/ipps
components/ipps/stamp-h1
#mutil post build
components/mutil/config.h
components/mutil/config.log
components/mutil/stamp-h1

