#feel free to modify
Makefile
*.in
*.DS_Store
*.o
#*.cproject
#*.project
*.settings
*.autotools
*.cache
*.deps
*.a
*.scan
*.log
#*.docx
*.status
#*.png
#ipps post build
components/ipps/config.h
components/ipps/config.log
components/ipps/configure
components/ipps/src/main/ipps
components/ipps/stamp-h1
components/ipps/configure.scan
components/ipps/autoscan.log
components/ipps/ipps-1.0.0.tar.gz
#ppp post build
components/ppp/config.h
components/ppp/config.log
components/ppp/configure
components/ppp/src/main/ppp
components/ppp/stamp-h1
components/ppp/configure.scan
components/ppp/autoscan.log
components/ppp/ppp-1.0.0.tar.gz
#mutil post build
components/etc/cpp/mutil/config.h
components/etc/cpp/mutil/config.log
components/etc/cpp/mutil/configure
components/etc/cpp/mutil/stamp-h1
components/etc/cpp/mutil/configure.scan
components/etc/cpp/mutil/autoscan.log
